* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bold {
  font-weight: bold;
}

.light-red-text {
  color: hsl(0, 100%, 67%);
}

.orange-yellow-text {
  color: hsl(39, 100%, 56%);
}

.green-teal-text {
  color: hsl(166, 100%, 37%);
}

.cobalt-blue-text {
  color: hsl(234, 85%, 45%);
}

.light-red-bg {
  background-color: hsla(0, 100%, 67%, 0.05);
}

.orange-yellow-bg {
  background-color: hsla(39, 100%, 56%, 0.05);
}

.green-teal-bg {
  background-color: hsla(166, 100%, 37%, 0.05);
}

.cobalt-blue-bg {
  background-color: hsla(234, 85%, 45%, 0.05);
}

.dark-gray-blue-text {
  color: hsl(224, 30%, 27%);
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
}

.summary-component {
  margin: 0 auto;
  max-width: 600px;
}

.your-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: hsl(241, 100%, 89%);
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-radius: 0px 0px 40px 40px;
}

.your-result-title {
  padding-top: 25px;
  font-weight: 700;
  text-align: center;
}

.circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  width: 140px;
  height: 140px;
  border-radius: 100%;
  background: linear-gradient(hsl(256, 72%, 46%), hsla(241, 72%, 46%, 0));
}

.score {
  color: hsl(0, 0%, 100%);
  font-size: 55px;
  font-weight: bold;
}

.score-description-title {
  text-align: center;
  color: hsl(0, 0%, 100%);
  margin-top: 25px;
  font-size: 25px;
  font-weight: bold;
}

.score-description-text {
  text-align: center;
  margin: 10px 13% 40px 13%;
}

.summary {
  padding: 25px;
}

.summary-title {
  color: hsl(224, 30%, 27%);
  font-weight: bold;
}

.results-points-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin: 20px 0 20px 0;
  padding: 0 15px 0 15px;
  border-radius: 10px;
}

.results-points-title {
  display: flex;
  font-weight: 700;
}

.results-points-score {
  font-weight: bold;
  color: #999;
}

.results-points-icon {
  display: block;
  margin-right: 10px;
}

.btn-continue {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 325px;
  height: 55px;
  border: none;
  border-radius: 40px 40px 40px 40px;
  background: linear-gradient(hsl(224, 30%, 27%), hsl(224, 30%, 27%));
  color: hsl(0, 0%, 100%);
  font-size: 18px;
  font-weight: 700;
}

.btn-continue:hover {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

@media (min-width: 690px) {
  .wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .summary-component {
    display: flex;
    max-width: 1000px;
    border-radius: 40px 40px 40px 40px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.08);
  }
  .your-result {
    width: 320px;
    border-radius: 40px 40px 40px 40px;
  }
  .your-result-title {
    padding-top: 0px;
  }
  .summary {
    width: 350px;
    padding: 35px;
  }
}/*# sourceMappingURL=style.css.map */