@import 'variables'

*
    margin: 0
    padding: 0
    box-sizing: border-box
    
.bold
    font-weight: bold

.light-red-text
    color: $light-red

.orange-yellow-text
    color: $orange-yellow

.green-teal-text
    color: $green-teal

.cobalt-blue-text
    color: $cobalt-blue

.light-red-bg
    background-color: $light-red-bg

.orange-yellow-bg
    background-color: $orange-yellow-bg

.green-teal-bg
    background-color: $green-teal-bg

.cobalt-blue-bg
    background-color: $cobalt-blue-bg

.dark-gray-blue-text
    color: $dark-gray-blue

body
    font-family: 'Hanken Grotesk', sans-serif
    font-size: 18px

.summary-component
    margin: 0 auto
    max-width: 600px
    
.your-result
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 100%
    color: $light-lavender
    background: linear-gradient($light-slate-blue, $light-royal-blue)
    border-radius: 0px 0px 40px 40px

.your-result-title
    padding-top: 25px
    font-weight: 700
    text-align: center

.circle
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin-top: 25px
    width: 140px
    height: 140px
    border-radius: 100%
    background: linear-gradient($violet-blue, $persian-blue)

.score
    color: $white
    font-size: 55px
    font-weight: bold

.score-description-title
    text-align: center
    color: $white
    margin-top: 25px
    font-size: 25px
    font-weight: bold

.score-description-text
    text-align: center
    margin: 10px 13% 40px 13%

.summary
    padding: 25px

.summary-title
    color: $dark-gray-blue
    font-weight: bold

.results-points-box
    display: flex
    justify-content: space-between
    align-items: center
    height: 60px
    margin: 20px 0 20px 0
    padding: 0 15px 0 15px
    border-radius: 10px

.results-points-title
    display: flex
    font-weight: 700

.results-points-score
    font-weight: bold
    color: #999

.results-points-icon
    display: block
    margin-right: 10px

.btn-continue
    display: block
    margin: 0 auto
    width: 100%
    max-width: 325px
    height: 55px
    border: none
    border-radius: 40px 40px 40px 40px
    background: linear-gradient($dark-gray-blue, $dark-gray-blue)
    color: $white
    font-size: 18px
    font-weight: 700
    // transition: 1s background

.btn-continue:hover
    background: linear-gradient($light-slate-blue, $light-royal-blue)


@media (min-width: 690px)
    .wrapper
        width: 100%
        height: 100vh
        display: flex
        justify-content: center
        align-items: center

    .summary-component
        display: flex
        max-width: 1000px
        border-radius: 40px 40px 40px 40px
        box-shadow: 20px 20px 20px rgba(0,0,0,0.08)

    .your-result
        width: 320px
        border-radius: 40px 40px 40px 40px
        // display: block

    .your-result-title
        padding-top: 0px
        
    .summary
        width: 350px
        padding: 35px